body {
  background-color: #222;
  color: #ddd;
  
  
 

  
 
}

header {
  background-color: #333;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  
}

.grid-item {
  background-color: #444;
  color: #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  border-radius: 3px;
  border-color: white;
 
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
  font-size: 22px;
}
nav {
  background-color: #333;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
  position: relative;
  transition: transform 0.3s ease-out;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  line-height: 50px;
}

nav ul li:hover {
  transform: translateY(-5px);
}

nav ul li:hover a {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

nav ul li:before,
nav ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

nav ul li:before {
  left: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 30px;
  /* add font-size */
}
.grid-item {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}
.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item h3, .grid-item p {
  transition: transform 0.3s ease;
}

.grid-item:hover h3, .grid-item:hover p {
  transform: translateY(-5px);
}


a {
  text-decoration: none;
  color:#ddd;
}









